.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 0;
}

header {
    margin: 10px 0;
    text-align: center;
}

main {
    flex-grow: 2;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 10px 0;
    text-align: center;
}

button {
    margin-top: 15px;
    cursor: pointer;
}

#left-section, #right-section {
    width: 15%;
}

#left-section * {
    text-align: left;
}

#right-section * {
    text-align: right;
}

#right-section button {
    float: right;
    clear: right;
}

#game-board {
    display: grid;
    width: auto;
    height: 100%;
}

.grid-2x2 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-2x3 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-4x4 {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-4x5 {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.grid-6x6 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.grid-6x7 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.grid-6x8 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.grid-6x9 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
}

.game-card-2x2 {
    width: auto;
    height: calc(calc(100vh - 6rem - 30px - 36px) / 2);
    /* 6rem for header, 30px for main (10px for gaps, 20px for margins), 36px for footer */
}

.game-card-2x3 {
    width: auto;
    height: calc(calc(100vh - 6rem - 30px - 36px) / 2);
    /* 6rem for header, 30px for main (10px for gaps, 20px for margins), 36px for footer */
}

.game-card-4x4 {
    width: auto;
    height: calc(calc(100vh - 6rem - 50px - 36px) / 4);
    /* 6rem for header, 50px for main (30px for gaps, 20px for margins), 36px for footer */
}

.game-card-4x5 {
    width: auto;
    height: calc(calc(100vh - 6rem - 50px - 36px) / 4);
    /* 6rem for header, 50px for main (30px for gaps, 20px for margins), 36px for footer */
}

.game-card-6x6 {
    width: auto;
    height: calc(calc(100vh - 6rem - 45px - 36px) / 6);
    /* 6rem for header, 45px for main (25px gaps, 20px for margins), 36px for footer */
}

.game-card-6x7 {
    width: auto;
    height: calc(calc(100vh - 6rem - 45px - 36px) / 6);
    /* 6rem for header, 45px for main (25px gaps, 20px for margins), 36px for footer */
}

.game-card-6x8 {
    width: auto;
    height: calc(calc(100vh - 6rem - 45px - 36px) / 6);
    /* 6rem for header, 45px for main (25px gaps, 20px for margins), 36px for footer */
}

.game-card-6x9 {
    width: auto;
    height: calc(calc(100vh - 6rem - 45px - 36px) / 6);
    /* 6rem for header, 45px for main (25px gaps, 20px for margins), 36px for footer */
}

.game-card-container {
    perspective: 1000px;
}

.game-card-flipper {
    position: relative;
    transition: 0.7s;
	transform-style: preserve-3d;
}

.game-card-placer {
    visibility: hidden;
}

.game-card-back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.game-card-front {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.close {
    position: absolute;
    top: 0;
    right: calc(100% - 100%);
    padding: 0 7px;
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    cursor: pointer;
}

#winning-box, #losing-box {
    position: absolute;
    top: 6rem;
    width: 100%;
    height: calc(100vh - 6rem);
    display: none;
}

#winning-message, #losing-message {
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 10px 55px 25px;
    background-color: beige;
    border: 2px solid rgb(139, 139, 127);
    text-align: center;
}

.match-effect-spin {
    animation-name: spin;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotateY(180deg);
    }
    25% {
        transform: rotateY(360deg);
    }
    50% {
        transform: rotateY(540deg);
    }
    75% {
        transform: rotateY(720deg);
    }
    to {
        transform: rotateY(900deg);
    }
}

.match-effect-scalein {
    animation-name: scalein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes scalein {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.match-effect-fadeout {
    animation-name: fadeout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.nomatch-effect-shake {
    animation-name: shake;
    animation-duration: .5s;
}
@keyframes shake {
    from {
        transform: translate(-5px);
    }
    10% {
        transform: translate(5px);
    }
    20% {
        transform: translate(-5px);
    }
    30% {
        transform: translate(5px);
    }
    40% {
        transform: translate(-5px);
    }
    50% {
        transform: translate(5px);
    }
    60% {
        transform: translate(-5px);
    }
    70% {
        transform: translate(5px);
    }
    80% {
        transform: translate(-5px);
    }
    90% {
        transform: translate(5px);
    }
    to {
        transform: translate(0);
    }
}